<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.christuniversity">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_launch"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".OfferedTripActivity"></activity>
        <activity android:name=".PaymentActivity1" />
        <activity android:name=".BookingActivity" />
        <activity android:name=".OtpActivity" />
        <activity android:name=".RequestrideActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".RiderequestActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".Passenger_ride_list" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".MapsActivity2" /> <!-- <activity android:name=".PermissionsActivity1" /> -->
        <activity android:name=".MapsActivity" /> <!-- <activity android:name=".PaymentActivity" /> -->
        <activity android:name=".Main2Activity" />
        <!--
<meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBSjMmeNnPp00VQhtalS1czrRCYf2ATYLg" />
        <uses-library android:name="com.google.android.maps" />
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Driver_window" /> <!-- <activity android:name=".Registration" /> -->
        <!-- <activity android:name=".Homepage" /> -->
        <activity android:name=".Passenger_home" />
        <!--
<activity
            android:name=".MapActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        -->
        <activity android:name=".PermissionsActivity" /> <!-- <activity android:name=".PermissionsActivity"> -->
        <activity android:name=".PermissionsActivity1" />
        <activity android:name=".Registration" />
        <activity android:name=".Homepage" />
        <activity android:name=".MainActivity">

            <!-- <activity android:name=".Homepage" > -->
            <!-- <activity android:name=".Registration" > -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>